{
	"proseWrap": "preserve",
	"useTabs": true,
	"overrides": [
		{
			"files": ["locale/**/*.md"],
			"options": {
				"proseWrap": "never"
			}
		},
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"plugins": ["prettier-plugin-svelte"]
}
